---
import Button from "../../components/Button.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Marcella's Magical Adventure">
  <div class="flex gap-10 flex-col items-center max-w-3xl">
    <p>
      As she stepped outside, a wondrous transformation occurred. The world
      around her became a playground of vibrant colors, friendly creatures, and
      captivating surprises. Trees whispered secrets, flowers sang sweet songs,
      and even the clouds seemed to dance to a melodious tune. Marcella had
      entered a realm where her dreams and reality intertwined, and she was the
      star of her very own fairy tale.
    </p>
    <div class="flex w-full justify-between">
      <Button href="/scene/scene-3" label="Back" />
      <Button href="/scene/scene-5" label="Next" />
    </div>
  </div>
</Layout>
<script></script>
