---
import Button from "../../components/Button.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Marcella's Magical Adventure">
  <div class="flex gap-10 flex-col items-center max-w-3xl">
    <p>
      But Marcella felt an irresistible urge to explore beyond her familiar
      surroundings. She believed that a hidden realm of enchantment awaited her
      just beyond the walls of her room. And so, with her favorite stuffed
      animal tucked under her arm and a sense of adventure in her heart,
      Marcella set off on a magical journey unlike any other.
    </p>
    <div class="flex w-full justify-between">
      <Button href="/scene/scene-2" label="Back" />
      <Button href="/scene/scene-4" label="Next" />
    </div>
  </div>
</Layout>
<script></script>
