---
import Button from "../../components/Button.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Marcella's Magical Adventure">
  <div class="flex gap-10 flex-col items-center max-w-3xl">
    <p>
      One sunny morning, Marcella awoke with a sparkle in her eyes, a sign that
      something extraordinary was about to happen. She giggled and clapped her
      tiny hands, and her plush toys seemed to come alive, joining her in the
      joyous dance. It was as if the whole world was celebrating with her.
    </p>
    <div class="flex w-full justify-between">
      <Button href="/scene/scene-1" label="Back" />
      <Button href="/scene/scene-3" label="Next" />
    </div>
  </div>
</Layout>
<script></script>
