---
import Button from "../../components/Button.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Marcella's Magical Adventure">
  <div class="flex gap-10 flex-col items-center max-w-3xl">
    <p>
      Once upon a time in a world filled with wonder and magic, there lived a
      spirited little girl named Marcella. Marcella was just two years old, but
      her imagination knew no bounds. Every day was an adventure, and every
      corner of her home held the promise of a new and exciting discovery.
    </p>
    <div class="flex w-full justify-between">
      <Button href="/" label="Back" />
      <Button href="/scene/scene-2" label="Next" />
    </div>
  </div>
</Layout>
<script></script>
