---
import Button from "../../components/Button.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Marcella's Magical Adventure">
  <div class="flex gap-10 flex-col items-center max-w-3xl">
    <p>
      With a twinkle in her eye and a smile that could light up the sky,
      Marcella's adventure had just begun. And she couldn't wait to explore
      every nook and cranny of this enchanting world, unlocking its mysteries
      and spreading joy wherever she went...
    </p>
    <div class="flex w-full justify-between">
      <Button href="/scene/scene-4" label="Back" />
      <Button href="/game" label="Next" />
    </div>
  </div>
</Layout>
<script></script>
