---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="mt-4">Marcella's Magical Adventure</h1>
    <p class="my-8">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message
      above.
    </p>
  </main>
</Layout>
