---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Marcella's Magical Adventure">
  <div class="flex gap-10 flex-col items-center max-w-6xl">
    <h1 class="text-gradient mt-4 text-8xl font-black text-center">
      Marcella's Magical Adventure
    </h1>
    <!-- <div class="min-h-[300px]">
      <p>
        Join Marcella, the intrepid 2-year-old explorer, on a whimsical journey
        through a colorful and enchanting world! In 'Marcella's Magical
        Adventure,' young players will embark on a delightful platformer
        adventure tailor-made for toddlers. With easy-to-use controls and
        captivating visuals, this game offers an engaging and educational
        experience that fosters creativity, coordination, and curiosity.
      </p><p>
        As Marcella's trusted companion, players will guide her through charming
        levels filled with friendly characters, interactive surprises, and
        simple challenges. Collect stars, discover playful animals, and uncover
        the magic hidden within each level. Join Marcella and embark on an
        unforgettable adventure filled with laughter, learning, and endless
        wonder!
      </p>
    </div> -->
    <Button href="scene/scene-1" label="Lets go" />
  </div>
</Layout>
<script></script>
